.post {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../assets/nofwl-bg.png");
  background-repeat: repeat;
  background-size: 160px 160px;
  // background-color: #999;
}

.main {
  min-height: 90vh;
}