.post {
  width: 100vw;
  background-image: url('../../assets/nofwl-bg.png');
  background-repeat: repeat;
  background-size: 120px 120px;
  background-color: var(--light-silver);
  overflow-x: hidden;
}

.main {
  padding: calc(var(--layout-header-height) + 1rem) var(--layout-side-pad) 0;
  min-height: calc(100vh - var(--layout-header-height) + 0.6rem);
}
