.proj_item {
  font-family: var(--font-def);
  margin: 0;
  line-height: 1.2;
}

.proj_card {
  img {
    margin: 0;
  }
}

.list {
  margin: 10px 0;
}

.friends {
  font-family: var(--font-def);
  border-left: solid 5px var(--blue);
  padding: 40px 16px 10px;
  // display: inline-table;
  font-size: 16px;
  background: var(--straw);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  color: #333;
  width: 100%;
  max-width: 494px;
  margin-bottom: 10px;
  h4 {
    position: absolute;
    margin: 0 0 10px;
    padding: 3px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: #fff;
  }
  p {
    line-height: 1.1;
    margin-bottom: 8px;
    b {
      color: #000;
      font-size: 14px;
    }
  }
}
