.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--layout-header-height);
  background: rgba(245, 245, 245, 0.8);
  padding: 0 var(--layout-side-pad);
  box-shadow: var(--shadow-dialog);
}

.logo {
  // margin-top: 0.3rem;
  margin-top: calc((var(--layout-header-height) - var(--logo-size)) / 2);
}

.menu {
  pointer-events: auto;
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  color: #999;
}
