.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--layout-header-height);
  background: #999;
  padding: 0 var(--layout-side-pad);
}

.logo {
  // margin-top: 0.3rem;
  margin-top: calc((var(--layout-header-height) - var(--logo-size)) / 2);
}
