.widget {
  color: var(--fc5);

  :global {
    .xsvg {
      margin-right: 0.2rem;
    }
  }

  .spoiler {
    margin-bottom: 0;
  }

  .time {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-md);

    // time {}

    .readtime {
      margin-left: 1rem;
    }
  }

  .tags {
    margin-bottom: 0.5rem;

    .tagsicon {
      vertical-align: middle;
    }

    > span {
      margin-right: 10px;
      border-radius: 4px;
      padding: 2px 4px;
      font-size: var(--font-size-md);

      &:hover {
        box-shadow: var(--shadow-floating);
        cursor: pointer;
        border-color: #eee;
      }
    }
  }
}
