button.nl_btn {
  font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular';
  border: none;
  padding: 1em;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-style: 1.2em;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: '';
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }
  &:before {
    filter: blur(7px);
    transition: all .25s ease;
    animation: pulse 10s infinite ease;
  }
  &:after {
    filter: blur(0.3px);
  }
  &:hover {
    &:before {
      width: 115%;
      height: 115%;
    }
  }
}

@keyframes pulse {
  from {
    filter: blur(7px);
  }
  50% {
    filter: blur(10px);
  }
  to {
    filter: blur(7px);
  }
}