.post-widget {
  text-align: center;
  span {
    margin-right: 15px;
  }
  img {
    display: inline-block;
    margin: 0;
    vertical-align: -3px;
  }
  i {
    font-size: 14px;
    margin-left: 8px;
    color: #909090;
    font-weight: bold;
    b {
      margin-right: 5px;
      border: solid 1px var(--common-color);
      padding: 2px 5px;
      font-size: 12px;
      border-radius: 5px;
    }
  }
  .readtime {
    display: block;
    b {
      font-size: 22px;
      vertical-align: -3px;
    }
    i {
      margin: 0;
    }
  }
}