body {
  font-family:
    'PingFang TC',
    MingLiU,
    MingLiU-ExtB,
    'MingLiU_HKSCS',
    'MingLiU_HKSCS-ExtB',
    SimSun,
    SimSun-ExtB,
    'Arial Unicode MS',
    'TITUS Cyberbit Basic',
    sans-serif;
  font-size: var(--fons-size-md);
  color: var(--dark);
  // overflow-x: hidden;

  a {
    color: var(--green);
    // background-image: var(--gradient2);
    // background-size: 100% 0.1em;
    // text-decoration: none;
    // background-repeat: no-repeat;
    // background-position: 0px 100%;
    // transition: all 0.25s ease 0s;

    &:hover {
      // background-size: 100% 90%;
      // color: #fff;
      @include textGradient;
    }
  }

  input,
  select,
  button {
    background: transparent;
    color: var(--theme-text-color);
  }
}

.nofwl-post.blog {
  h1.title {
    text-align: center;
    font-family: var(--font-title);
  }

  .post-widget {
    text-align: center;
    margin-bottom: 1rem;
  }
}

// scroll
html[type='nofwl-blog'] {
  overflow-x: hidden;
  scroll-behavior: auto;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background-color: var(--scrollbar-bg);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }
}

.blog_notes,
.blog_thinking {
  article {
    font-family: var(--font-nl);
  }
}

.blog_notes {
  blockquote {
    display: inline-block;
    margin-left: 0.2rem;
    padding: 0.2rem 1rem;
    background: var(--dark);
    border-radius: 0.2rem;
    font-size: var(--font-size-md);
    border-left: solid 5px var(--theme-primary);
    color: #fff;
  }
}

.blog_thinking {
  blockquote {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    // border: solid 1px #aaa;
    border-left: solid 5px var(--theme-primary);
    border-bottom: solid 1px var(--theme-primary);
    padding: 2px 5px 2px 8px;
    border-top-left-radius: 1.4rem;
    border-bottom-right-radius: 1.2rem;

    blockquote {
      margin-left: -4px;
      padding: 2px 10px;
      border-top-left-radius: 1.2rem;
      border-bottom-right-radius: 1rem;
      background: var(--theme-primary);
      color: #fff;
      font-family: var(--font-comic);
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.blog_technology .blog__container {
  position: relative;

  .blog-toc {
    display: none;
    position: fixed;
    width: 240px;
    max-height: 70%;
    overflow: hidden;
  }

  .blog-article {
    position: relative;
  }

  @media screen and (min-width: 960px) {
    .blog-toc {
      display: block;
    }

    .blog-article {
      left: 320px;
      width: calc(100% - 260px);
    }
  }
}
