body {
  font-family:
    'Nom Na Tong',
    'HAN NOM A',
    'HAN NOM B',
    Sun-ExtA,
    Sun-ExtB,
    Ming-Lt-HKSCS-UNI-H,
    Ming-Lt-HKSCS-ExtB,
    HanaMinA,
    HanaMinB,
    HanaMin,
    'PingFang TC',
    MingLiU,
    MingLiU-ExtB,
    'MingLiU_HKSCS',
    'MingLiU_HKSCS-ExtB',
    SimSun,
    SimSun-ExtB,
    'Arial Unicode MS',
    'TITUS Cyberbit Basic',
    sans-serif;
  font-size: var(--fons-size-md);
  // overflow-x: hidden;
}

.nofwl-post.blog {
  h1.title {
    text-align: center;
  }

  .post-widget {
    text-align: center;
    margin-bottom: 2rem;
  }
}

// scroll
html[type='nofwl-blog'] {
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background-color: var(--scrollbar-bg);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }
}
