@mixin clearfix {
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin single-text($width) {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: $width;
}

@mixin multi-text($width, $row) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

@mixin placeholder($color) {
  ::-webkit-input-placeholder {
      color: $color;
      @content;
  }
  ::-moz-placeholder {
      color: $color;
      @content;
  }
  :-ms-input-placeholder {
      color: $color;
      @content;
  }
  :-moz-placeholder {
      color: $color;
      @content;
  }
}