@import './mixin';

.nl_blog {
  font-family: var(--font-nl);
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-comic);
    margin: 20px 0 15px;
    line-height: normal;
  }
  .language-text {
    padding: 2px;
    background: rgba(rgb(95, 180, 219), .3);
  }
  &.post_index {
    .nofwl-container {
      max-width: 1200px;
      display: grid;
      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
    }
    article {
      justify-content: space-around;
      flex-direction: column;
      margin: 0.5em;
      // float: left;
      box-shadow: var(--shadow-floating);
      padding: 20px;
      margin-bottom: 0.5em;
      border-radius: 5px;
      transition: all 300ms ease;
      .post-widget {
        text-align: left;
      }
      .spoiler {
        margin-top: 10px;
      }
      &:hover {
        transform: translateY(-5px);
        transition: all 300ms ease;
        box-shadow: var(--shadow-overlay);
        .post_title {
          background: linear-gradient(45deg, #eb4d9c,#d33024,#e48233,#f4e24d,#b4dc48,#54b2ea,#663399);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  &.thinking, &.notes {
    font-family: var(--font-nl);
    background-color: var(--main-light-silver);
    color: var(--main-black) !important;
    .post-widget {
      margin-bottom: 20px;
    }
    article {
      font-size: 14px;
      line-height: 1.5;
      p {
        margin-bottom: 15px;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-nl);
        color: var(--main-black) !important;
        background: none;
        -webkit-text-fill-color: inherit;
      }
      blockquote {
        // color: var(--main-black);
        background: var(--main-silver2);
        padding: 5px;
        // padding: 5px;
        border-left-color: var(--main-gray);
        color: var(--main-black2);
        margin: 0 0 15px;
        display: inline-block;
        // border-top-left-radius: 5px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        blockquote {
          margin: 0;
          padding: 2px 5px;
          border-left: solid 3px var(--main-silver);
          border-top-left-radius: 12px;
          color: var(--main-black);
          display: inline-block;
        }
        p {
          margin: 0;
          display: inline-block;
        }
        .language-text {
          background: var(--main-silver);
        }
      }
      small {
        color: var(--main-gray);
        font-weight: normal;
        margin-left: 5px;
      }
      hr {
        border: none;
        background: var(--main-black2);
        // border-bottom-color: var(--main-black);
      }
    }
    .language-text {
      font-size: 14px;
      background: var(--main-silver2);
    }
  }
  &.notes {
    h2 {
      font-size: 18px;

      background: var(--main-silver2) !important;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 5px 15px;
      display: inline-block;
      margin-bottom: 0;
      a {
        display: none;
      }
    }
    article {
      blockquote {
        padding: 2px 8px 2px 6px;
        border-radius: 0;
        blockquote {
          padding: 0 4px;
          border-radius: 0;
        }
      }
      .language-text {
        padding: 0;
      }
    }
  }
  .nl_post {
    max-width: 1200px;
    min-height: 70vh;
    h1 {
      text-align: center;
      background: -webkit-linear-gradient(var(--ui-pink), var(--ui-red));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: initial;
    }
    .post-btns__prev_next {
      margin: 20px;
      @include clearfix;
      a {
        margin: 5px 0;
        font-weight: bold;
        padding: 5px 10px;
      }
      .prev-post {
        float: left;
      }
      .next-post {
        float: right;
      }
    }
    .post_translate {
      // background: #eee;
      margin: 10px 0 25px;
      padding: 10px;
      border-radius: 5px;
      box-shadow: inset 0 0 1px var(--ui-red);
      a {
        color: var(--ui-red);
      }
    }
  }
  blockquote {
    margin: 15px 0;
    padding-left: 10px;
    border-left-color: var(--ui-pink);
    color: var(--common-accent-dark);
    // color: var(--common-success);
    blockquote {
      color: var(--code-tag);
      // color: var(--common-accent);
      border-left-color: var(--common-accent);
    }
  }
  del {
    text-decoration-color: var(--common-warning);
  }
  em {
    font-family: var(--font-def);
    // font-weight: bold;
  }
  // .language-text {
  //   // background: var(--ui-light-pink);
  // }
  hr {
    background-color: transparent;
    border-bottom: dashed 3px var(--ui-pink);
    // border: dashed 2px var(--ui-pink);
  }
  .nofwl_comment {
    .utterances {
      max-width: 100%;
    }
  }
}
