@import './mixin';

.nl_blog {
  font-family: var(--font-nl);
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-comic);
    margin: 20px 0 15px;
    line-height: normal;
  }
  &.post_index {
    .nofwl-container {
      max-width: 1200px;
      display: grid;
      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
    }
    article {
      justify-content: space-around;
      flex-direction: column;
      margin: 0.5em;
      // float: left;
      box-shadow: var(--shadow-floating);
      padding: 20px;
      margin-bottom: 0.5em;
      border-radius: 5px;
      transition: all 300ms ease;
      .post-widget {
        text-align: left;
      }
      .spoiler {
        margin-top: 10px;
      }
      &:hover {
        transform: translateY(-5px);
        transition: all 300ms ease;
        box-shadow: var(--shadow-overlay);
        .post_title {
          background: linear-gradient(45deg, #eb4d9c,#d33024,#e48233,#f4e24d,#b4dc48,#54b2ea,#663399);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  &.thinking {
    font-family: var(--font-nl);
    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-nl);
    }
  }
  .nl_post {
    max-width: 1200px;
    min-height: 70vh;
    h1 {
      text-align: center;
      background: -webkit-linear-gradient(var(--ui-pink), var(--ui-red));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: initial;
    }
    .post-btns__prev_next {
      margin: 20px;
      @include clearfix;
      a {
        margin: 5px 0;
        font-weight: bold;
        padding: 5px 10px;
      }
      .prev-post {
        float: left;
      }
      .next-post {
        float: right;
      }
    }
    .post_translate {
      // background: #eee;
      margin: 10px 0 25px;
      padding: 10px;
      border-radius: 5px;
      box-shadow: inset 0 0 1px var(--ui-red);
      a {
        color: var(--ui-red);
      }
    }
  }
  blockquote {
    margin: 15px 0;
    padding-left: 10px;
    border-left-color: var(--ui-pink);
    color: var(--code-comment);
    blockquote {
      color: var(--code-tag);
      // color: var(--common-accent);
      border-left-color: var(--common-accent);
    }
  }
  del {
    text-decoration-color: var(--common-warning);
  }
  em {
    font-family: var(--font-def);
    // font-weight: bold;
  }
  .language-text {
    background: var(--ui-light-pink);
  }
  hr {
    background-color: transparent;
    border-bottom: dashed 3px var(--ui-pink);
    // border: dashed 2px var(--ui-pink);
  }
  .nofwl_comment {
    .utterances {
      max-width: 100%;
    }
  }
}
