:root {
  /* *** layout *** */
  --layout-header-height: 3.6rem;
  --layout-gutter: 0.5rem;
  --layout-side-pad: 0.5rem;
  // max-content-width
  --layout-content-zone: 1080px;

  /* *** font *** */
  --font-code: consolas, monaco, andale mono, ubuntu mono, monospace;
  --font-title:
    sfmono-regular,
    menlo,
    monaco,
    consolas,
    liberation mono,
    courier new,
    monospace;

  /* --font-code: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace; */
  --font-def:
    -apple-system,
    blinkmacsystemfont,
    segoe ui,
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    fira sans,
    droid sans,
    helvetica neue,
    sans-serif;
  --font-normal: normal normal 100% 'Trebuchet MS', verdana, sans-serif;
  --font-comic:
    'Comic Sans',
    'Comic Sans MS',
    'Chalkboard',
    'ChalkboardSE-Regular',
    -apple-system,
    consolas,
    sans-serif;
  --font-nl:
    'PingFang TC',
    mingliu,
    mingliu-extb,
    'MingLiU_HKSCS',
    'MingLiU_HKSCS-ExtB',
    simsun,
    sans-serif;
  --font-consolas:
    'Inconsolata',
    consolas,
    monaco,
    'Andale Mono',
    'Ubuntu Mono',
    monospace;
  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  /* *** scrollbar *** */
  --scrollbar-width: 6px;
  --scrollbar-bg: #fff;
  --scrollbar-thumb: var(--theme-primary);

  /* *** z-index *** */
  --z-mask: 1000;
  --z-fixed: 999;
  --z-modal: 998;

  /* *** shadow *** */
  --shadow-raised:
    0 1px 2px rgba(46, 41, 51, 0.08),
    0 2px 4px rgba(71, 63, 79, 0.08);
  --shadow-floating:
    0 2px 4px rgba(46, 41, 51, 0.08),
    0 4px 8px rgba(71, 63, 79, 0.16);
  --shadow-overlay:
    0 4px 8px rgba(46, 41, 51, 0.08),
    0 8px 16px rgba(71, 63, 79, 0.16);
  --shadow-dialog:
    0 4px 16px rgba(46, 41, 51, 0.08),
    0 8px 24px rgba(71, 63, 79, 0.16);
  --gradient:
    linear-gradient(
      45deg,
      #eb4d9c,
      #d33024,
      #e48233,
      #f4e24d,
      #b4dc48,
      #54b2ea,
      #639
    );
  --gradient2:
    linear-gradient(
      120deg,
      rgb(46, 199, 192) 0%,
      rgb(26, 134, 228) 100%
    );
  --gradient3: linear-gradient(var(--light-silver) 44%, var(--dark));

  /* *** logo *** */
  --logo-size: 3rem;
  --logo-gutter: 0.2rem;

  /* *** theme *** */
  --theme-primary: #989898;
  // --theme-primary: #777;
  --light-silver: #f0f0f0;
  // --green: #3eaf7c;
  --dark: #2a2a2a;
  --red: rgb(255, 70, 66);
  --cyan: rgb(3, 209, 235);
  --cyan2: rgb(67, 167, 170);
  --blue: rgb(56, 132, 255);
  --green: rgb(38, 203, 124);
  --orange: rgb(247, 125, 5);
  --purple: rgb(164, 78, 237);
  --yellow: rgb(255, 209, 57);

  /* *** text color *** */
  --fc1: var(--dark);
  --fc2: #4a4a4a;
  --fc3: #686868;
  --fc4: #929292;
  --fc5: rgb(245, 247, 250);
}

/* *** theme: dark *** */
body.dark {
  --theme-bg: rgb(31, 41, 51);
  --theme-text-color: #d2d2d2;
  --shadow-raised:
    0 0 1px rgba(255, 255, 255, 0.08),
    0 1px 2px rgba(255, 255, 255, 0.18);
  --shadow-floating:
    0 0 2px rgba(255, 255, 255, 0.08),
    0 2px 3px rgba(255, 255, 255, 0.18);
  --shadow-overlay:
    0 2px 4px rgba(255, 255, 255, 0.18),
    0 4px 8px rgba(255, 255, 255, 0.38);

  color: var(--theme-text-color);
}

/* *** theme: light *** */
body.light {
  --fc5: var(--fc2);
  --theme-bg: --light-silver;
}
