:root {
  /* *** layout *** */
  --layout-header-height: 3.6rem;
  --layout-gutter: 0.5rem;
  --layout-side-pad: 1.5rem;
  // max-content-width
  --layout-content-zone: 1080px;

  /* *** font *** */
  --font-code: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

  /* --font-code: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace; */
  --font-def:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  --font-normal: normal normal 100% 'Trebuchet MS', verdana, sans-serif;
  --font-comic:
    'Comic Sans',
    'Comic Sans MS',
    'Chalkboard',
    'ChalkboardSE-Regular',
    -apple-system,
    Consolas,
    sans-serif;
  --font-nl:
    'Nom Na Tong',
    'HAN NOM A',
    'HAN NOM B',
    Sun-ExtA,
    Sun-ExtB,
    Ming-Lt-HKSCS-UNI-H,
    Ming-Lt-HKSCS-ExtB,
    HanaMinA,
    HanaMinB,
    HanaMin,
    'PingFang TC',
    MingLiU,
    MingLiU-ExtB,
    'MingLiU_HKSCS',
    'MingLiU_HKSCS-ExtB',
    SimSun,
    SimSun-ExtB,
    'Arial Unicode MS',
    'TITUS Cyberbit Basic',
    sans-serif;
  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  /* *** scrollbar *** */
  --scrollbar-width: 6px;
  --scrollbar-bg: #fff;
  --scrollbar-thumb: var(--theme-primary);

  /* *** z-index *** */
  --z-mask: 1000;
  --z-fixed: 999;
  --z-modal: 998;

  /* *** shadow *** */
  --shadow-raised:
    0 1px 2px rgba(46, 41, 51, 0.08),
    0 2px 4px rgba(71, 63, 79, 0.08);
  --shadow-floating:
    0 2px 4px rgba(46, 41, 51, 0.08),
    0 4px 8px rgba(71, 63, 79, 0.16);
  --shadow-overlay:
    0 4px 8px rgba(46, 41, 51, 0.08),
    0 8px 16px rgba(71, 63, 79, 0.16);
  --shadow-dialog:
    0 4px 16px rgba(46, 41, 51, 0.08),
    0 8px 24px rgba(71, 63, 79, 0.16);
  --gradient:
    linear-gradient(
      45deg,
      #eb4d9c,
      #d33024,
      #e48233,
      #f4e24d,
      #b4dc48,
      #54b2ea,
      #639
    );

  /* *** logo *** */
  --logo-size: 3rem;
  --logo-gutter: 0.2rem;

  /* *** theme *** */
  // --theme-primary: var(--blue);
  --theme-primary: #777;
  --light-silver: #f0f0f0;
  // --green: #3eaf7c;
  --dark: #2a2a2a;
  --red: rgb(255, 70, 66);
  --cyan: rgb(3, 209, 235);
  --blue: rgb(56, 132, 255);
  --green: rgb(38, 203, 124);
  --orange: rgb(247, 125, 5);
  --purple: rgb(164, 78, 237);
  --yellow: rgb(255, 209, 57);
}

/* *** theme: dark *** */
body.dark {
  --theme-bg: #000;
  --theme-text-color: #a3a3a3;
  --shadow-floating:
    0 1px 2px rgba(255, 255, 255, 0.08),
    0 2px 4px rgba(255, 255, 255, 0.18);

  color: var(--theme-text-color);

  a {
    color: var(--theme-text-color);
  }
}

/* *** theme: light *** */
body.light {
  --theme-bg: --light-silver;
}
