.form {
  p {
    label {
      display: block;
      min-width: 120px;
      font-size: 14px;
    }

    input,
    textarea {
      width: 100%;
      max-width: 300px;
      border: solid 1px var(--theme-primary);
      padding: 3px 10px;
      border-radius: 4px;
    }
  }
}
