$colorGradient: #ff8080, #ffbf80, #ffff80, #bfff80, #80ff80, #80ffbf, #80ffff,
  #80bfff, #8080ff, #bf80ff, #ff80ff, #ff80bf, #ff8080;

@keyframes logoAni {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.logo {
  position: relative;
  display: inline-block;
  width: var(--logo-size);
  height: var(--logo-size);
  text-decoration: none;
  border-radius: 50%;

  &::before {
    width: var(--logo-size);
    height: var(--logo-size);
    display: block;
    content: '';
    background: conic-gradient($colorGradient);
    animation: logoAni 3s linear infinite;
    border-radius: 50%;
  }

  img {
    position: absolute;
    border-radius: 50%;
    width: calc(var(--logo-size) - var(--logo-gutter) * 2);
    top: var(--logo-gutter);
    left: var(--logo-gutter);
    margin: 0;
    z-index: 1;
  }
}
