@keyframes logoAni {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

body {
  background-color: var(--common-bg);
  color: var(--common-color);
}

header.nofwl-header {
  font-family: var(--font-comic);
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 80px;
  // background: #292f36;
  background: var(--ui-header-bg);
  box-shadow: var(--shadow-raised);
  // color: #4a4a4a;
  transition: transform 500ms ease;
  user-select: none;
  &,
  a {
    color: var(--ui-header-txt);
  }
  &.head__unpinned {
    transform: translateY(-100%);
    transition: transform 500ms ease;
  }
  &.head__pinned {
    transition: transform 500ms ease;
    transform: translateY(0);
  }
  .head-container {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.0875rem; // 1.45rem
    // .nofwl-navbar {
    //   float: right;
    // }
  }
  .logo {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    &::before {
      position: absolute;
      width: 54px;
      height: 54px;
      display: block;
      content: '';
      top: 0;
      bottom: 0;
      z-index: 0;
      background: conic-gradient(#ff8080, #ffbf80, #ffff80, #bfff80, #80ff80, #80ffbf, #80ffff, #80bfff, #8080ff, #bf80ff, #ff80ff, #ff80bf, #ff8080);
      animation: logoAni 3s linear infinite;
      border-radius: 50%;
    }
    img {
      position: absolute;
      width: 50px;
      height: 50px;
      margin: 0;
      z-index: 2;
      top: 2px;
      left: 2px;
    }
  }
  // .toggle__theme {}
}

.nofwl-container {
  margin: 0 auto;
  max-width: 960px;
  min-height: 80vh;
  padding: 100px 1.0875rem 1.45rem;
}

.nofwl-title {
  margin-right: 20px;
}

.nofwl-desc {
  font-size: 14px;
  color: pink;
  text-transform: capitalize;
}

.nofwl-footer {
  margin: 20px;
  text-align: center;
}