@import './../../styles/mixin';

// Navigation Variables
$breakpoint: 768px;

.nofwl-navbar {
  height: 100%;
  .nofwl__menu__btn {
    height: 40px;
    color: var(--common-color);
    background: none;
    outline: none;
    border-radius: 5px;
  }
  @media screen and (min-width: $breakpoint) {
    .nofwl__menu__btn {
      display: none;
    }
  }
  @media screen and (max-width: $breakpoint - 1px) {
    display: flex;
    align-items: center;
    .nofwl__menu {
      overflow-y: auto;
      display: none;
      height: calc(100vh - 80px) !important;
      > ul {
        height: unset !important;
      }
      &.open {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 80px;
        // bottom: 0;
        // height: 100%;
        height: unset;
        background: var(--ui-header-bg);
        li {
          display: block;
          float: unset;
          padding: 10px 20px;
          margin-bottom: 0;
        }
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      .submenus {
        ul {
          position: unset !important;
          background: transparent !important;
          box-shadow: none !important;
          padding: 0 !important;
        }
      }
      .toggleTheme {
        text-align: center;
        .toggle__theme {
          margin: 0;
        }
      }
    }
  }
  ul {
    margin: 0;
    li {
      list-style: none;
      float: left;
      // & + li {
      //   margin-left: 10px;
      // }
    }
  }
  .nofwl__menu {
    @include clearfix;
    height: 100%;
    > ul {
      height: 100%;
    }
    li {
      display: flex;
      align-items: center;
      height: 100%;
      margin-bottom: 0;
      // padding: 0 10px;
      & > *:not(.toggle__theme) {
        padding: 5px 10px;
      }
    }
    .toggle__theme {
      margin-left: 80px;
    }
    .submenus {
      position: relative;
      > span {
        cursor: pointer;
      }
      .arrow-icon {
        vertical-align: -6px;
        transition: all 300ms ease;
        width: 16px;
        margin-left: 5px;
      }
      ul {
        position: absolute;
        display: none;
        top: 80px;
        &.open {
          display: block;
          background: var(--common-bg);
          box-shadow: var(--shadow-floating);
          padding: 10px;
          border-radius: 5px;
        }
      }
      li {
        float: unset;
        margin: 0;
        width: 100%;
        white-space: nowrap;
      }
    }
  }
}