.post {
  background: #fee;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.spoiler {
  color: rgb(67, 167, 170);
}

.tags {
  > span {
    margin-right: 10px;
    border: solid 1px #aaa;
    border-radius: 4px;
    padding: 2px 4px;
  }
}
